<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Practica22.Properties.Settings.FabricaConnectionString"
            connectionString="Data Source=213.155.192.79,3002;Initial Catalog=Fabrica;Persist Security Info=True;User ID=u20lebed;Password=RT3E"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>